/* Animation */
@keyframes rocket-animation {
    0% {transform: translateY(-2.5%) rotateZ(-2deg);}
    50% {transform: translateY(+2.5%) rotateZ(+2deg);;}
    100% {transform: translateY(-2.5%) rotateZ(-2deg);;}
}

body, html {
  background-color: black;
}

/* Home section styling */
#home {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: black;
}

/* Styling for the home rocket */
#home-rocket {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -100px;
  margin-top: -100px;

  width: 200px;
  height: 200px;

  /* Animation */
  animation-name: rocket-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Canvas Styling */
#home-canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

#home .button-row {
  position: fixed;
  bottom: 10%;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Main title styling */
#main-title {
  position: fixed;
  top: 65%;
  left:50%;
  width: 100vw;
  margin: 0;
  transform:
    translateX(-50%)
    translateY(-50%);

  color: #999999;
  font-family: 'Montserrat', sans-serif;
  font-size: 8em;
  font-weight: 900;
  text-align: center;
  z-index: 0;
}
