<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Play | Shoot'em Hub</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto:300,400,700" rel="stylesheet">

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script src="/js/vector/Vector.js" charset="utf-8"></script>
    <script src="/js/color/Color.js" charset="utf-8"></script>
    <script src="/js/light/LightParticle.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/Explosion.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/bullet/Bullet.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/bullet/BulletTypes.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/canon/Canon.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/canon/CanonTypes.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/SpaceShip.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/EnemySpaceShip.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/LaserEnemySpaceShip.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/RocketEnemySpaceShip.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/Player.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/enemy/Generator.js" charset="utf-8"></script>
    <script src="/js/shoot_em_hub/ShootEmHub.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/play.css">
  </head>
  <body>
    <section id="play">

      <a class="back" href="/repos" title="Back to the repository list.">Back</a>

      <!-- Canvas to display the Game -->
      <canvas id="game-canvas" width="800" height="600"></canvas>

      <!-- Game UI container -->
      <div id="game-ui" class="screen active">

        <!-- Life container -->
        <div class="life">
          <div class="point"></div>
          <div></div>
          <div></div>
        </div>

        <!-- Score container -->
        <div class="score">
          <span class="score-value">0</span>
        </div>
      </div>

      <div id="loader" class="screen active">

        <!-- Rocket cat image -->
        <img class="loader-image" src="/img/github_rocket.png" alt="image of a rocket" />
        <h2>Loading...</h2>

      </div>

      <!-- screen to display the player's game level before playing -->
      <div id="game-level" class="screen">
        <h2>Your level on this repository</h2>
        <p> Your commit contribution to the <repository name> repository
          defines your level in the game. [Arrows] to move the spaceShip, [Space] to shoot.</p>

        <article class="contrubution">
            <div class="progress-container">
            <div class="minus">
              <div class="text">
              </div>
            </div>
            <div class="plus">
              <div class="text">
              </div>
            </div>

            <div class="middle"></div>
            <div class="middle-text stat">mean (27)</div>
            <div class="hundred-fifty"></div>
            <div class="two-hundred"></div>
            <div class="two-hundred-text stat">+100%</div>
            <div class="zero"></div>
            <div class="fifty"></div>
            <div class="zero-text stat">-100%</div>
          </div>
        </article>

        <a class="button play-button" href="#" title="Play" alt="Play">
          <span class="normal">Play</span>
        </a>
        <br/>
        <a class="button back-to-work" target="_blank" href="/score" title="Get back to work" alt="Get back to work">
          <span class="normal">Get back to work...</span>
        </a>
      </div>

      <!-- Game Over screen -->
      <div id="game-over" class="screen">
        <article>
          <h1>Game Over</h1>
          <table>
            <tr class="score-row">
              <td valign="middle">Your score:</td>
              <td valign="middle" class="game-score">0 pts</td>
            </tr>
            <tr class="best-row">
              <td valign="middle">Your best:</td>
              <td valign="middle" class="best-score">0 pts</td>
            </tr>
          </table>

          <!-- Button call to action -->
          <div class="button-row">
            <a class="button try-again" href="#" title="Try Again" alt="Try again">
              <span class="normal">Try Again</span>
            </a>
            <br/>
            <a class="button scoreboard-link" href="/score" title="See the scoreboard for this repo" alt="See the scoreboard for this repo">
              <span class="normal">Scoreboard</span>
            </a>
          </div>

          <div class="credits">
            Music: <a href="https://freesound.org/people/joshuaempyre/sounds/251461/" target="_blank">Arcade Music Loop</a>
            by <a href="https://freesound.org/people/joshuaempyre/" target="_blank">joshuaempyre</a>,
            licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
          </div>
        </article>
      </div>

      <!-- Display errors -->
      <div id="error" class="screen">
        <article>
          <h1 class="error-title"></h1>
          <p class="error-message"></p>
        </article>
      </div>
    </section>

  </body>

  <script src="/js/game.js" charset="utf-8"></script>
</html>
