<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Play | Shoot'em Hub</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto:300,400,700" rel="stylesheet">

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script src="js/vector/Vector.js" charset="utf-8"></script>
    <script src="js/light/LightParticle.js" charset="utf-8"></script>
    <script src="js/shoot_em_hub/Bullet.js" charset="utf-8"></script>
    <script src="js/shoot_em_hub/Canon.js" charset="utf-8"></script>
    <script src="js/shoot_em_hub/SpaceShip.js" charset="utf-8"></script>
    <script src="js/shoot_em_hub/Player.js" charset="utf-8"></script>
    <script src="js/shoot_em_hub/ShootEmHub.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/play.css">
  </head>
  <body>
    <section id="play">
      <canvas id="game-canvas" width="800" height="600"></canvas>
    </section>

  </body>

  <script src="js/game.js" charset="utf-8"></script>
</html>
