<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose a repository</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Roboto:300,400,700" rel="stylesheet">

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>


    <script src="/js/vector/Vector.js" charset="utf-8"></script>
    <script src="/js/light/LightParticle.js" charset="utf-8"></script>
    <script src="/js/light/LightParticleCloud.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/repos.css">
  </head>
  <body>
    <section class="repos">
      <article class="title-section">
        <canvas id="repos-canvas" width="800" height="800"></canvas>

        <h1>Choose a repository</h1>
        <p>Pick one of the repositories you're collaborating to. Your best score
          will be shared with the other collaborators</p>
      </article>

      <article>

        <section class="repo-list">
          <h2>Your repositories</h2>
          <article class="repo-overview">
            <h2>Repository name</h2>
            <h3>Repository link</h3>
          </article>
        </section>
      </article>

    </section>

    <script src="js/repos.js" charset="utf-8"></script>

  </body>
</html>
