/* Transitions */
.screen, .progress-container .plus, .progress-container .minus {
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

/* Score animation */
@keyframes score-animation {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.8, 1.8); color: #f4ce42;}
    100% {transform: scale(1, 1);}
}
.score-animating {
  /* Animation */
  animation: score-animation 0.3s ease-in;
}

#play {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: black;
}

#play .back {
  display: inline-block;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 10px 15px;
  background-color: #1a2c44;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#play .back:hover {
background-color: white;
color: #1a2c44;
}

/* Game canvas */
#game-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  background-color: #1a2c44;
}

/* Screen */
.screen {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
}
.screen * {
  visibility: hidden;
}
.screen.active{
  opacity: 1;
  z-index: 100;
}
.screen.active * {
  visibility: visible;
}

/* Game UI */
#game-ui .life {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  content: center;
}
#game-ui .life div {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #999;
  border-radius: 50%;
}
#game-ui .life div.point {
  background-color: #57d646;
}

#game-ui .score {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  content: center;
  color: white;
  font-size: 26px;
}

/* Loader styling */
#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#loader h2 {
  text-align: center;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

#loader img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 150px;

  /* Animation */
  animation-name: rocket-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Game level screen */
#game-level {
  background-color: #1a2c44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#game-level h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  font-weight: normal;
  font-size: 1.7em;
}
#game-level p {
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  letter-spacing: 0.05em;
  font-weight: lighter;
}

#game-level .contrubution {
  width: 80%;
  margin: 2.5% 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.4);
}
#game-level .progress-container {
  position: relative;
  width: 80%;
  margin: 10% auto 10% auto;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
.progress-container .middle, .progress-container .two-hundred,
.progress-container .zero, .progress-container .hundred-fifty,
.progress-container .fifty {
  position: absolute;
  top: -10px;
  left: 40%;
  width: 2px;
  height: 30px;
  margin-left: -1px;
  background-color: white;
}
.progress-container .hundred-fifty,
.progress-container .fifty {
  height: 20px;
  top: -5px;
}
.progress-container .two-hundred {
  left: 80%;
}
.progress-container .zero {
  left: 0;
}
.progress-container .hundred-fifty {
  left: 60%;
}
.progress-container .fifty {
  left: 20%;
}

.progress-container .stat {
  position: absolute;
  bottom: 30px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
  color: white;
}
.progress-container .stat.zero-text {
  left: 0;
}
.progress-container .stat.middle-text {
  left: 40%;
}
.progress-container .stat.two-hundred-text {
  left: 80%;
}

.progress-container .minus {
  display: none;
  position: absolute;
  right: 60%;
  top: 0;
  height: 100%;
  width: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f44b42;
}
.progress-container .minus.active {
  display: block;
}
.progress-container .minus .text {
  position: absolute;
  right: 100%;
  top: 330%;
  color: #f44b42;
  font-size: 0.8em;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.progress-container .plus {
  display: none;
  position: absolute;
  left: 40%;
  top: 0;
  height: 100%;
  width: 0%;
  max-width: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #62f441;
}
.progress-container .plus.active {
  display: block;
}
.progress-container .plus .text {
  position: absolute;
  left: 100%;
  top: 330%;
  color: #62f441;
  font-size: 0.8em;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.back-to-work {
  border: none !important;
}

/* Game Over */
#game-over {
  background-color: #1a2c44;
  display: flex;
  flex-direction: center;
  align-items: center;
  content: center;
}
#game-over article {
  width: 100%;
}
#game-over h1 {
  margin: 5% 0;
  font-size: 4.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
#game-over table {
  display: block;
  width: 100%;
  padding: 0 20%;
  overflow: auto;
  color: #999;
  font-size: 1.3em;
}
#game-over table tbody {
  display: block;
}
#game-over table tr {
  display: block;
  text-transform: uppercase;
}
#game-over table tr.score-row td  {
  background-color: white;
}
#game-over table tr.score-row td:last-child  {
  color: black;
}
#game-over table tr.best-row td {
  background-color: rgba(255, 255, 255, 0.8);
}
#game-over table tr td {
  display: block;
  width: 50%;
  padding: 3.5%;
  float: left;
  text-align: right;
}
#game-over table tr td:last-child {
  text-align: left;
  color: white;
  font-weight: bold;
}

#game-over .button-row {
  margin-top: 2.5%;
}
#game-over .button-row .button {
  margin: 1.5% 0;
}

#game-over .credits {
  padding: 5px;
  color : white;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}
#game-over .credits a {
  color : white;
}
#game-over .credits a:hover {
  color : white;
}

/* Error messages */
#error {
  display: flex;
  flex-direction: center;
  align-items: center;
  content: center;
  background-color: #1a2c44;
}

#error article {
  width: 100%;
  text-align: center;
  padding: 10%;
}

#error h1, #error p {
  color: white;
  text-align: center;
}
