/* Transitions */
.screen {
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

/* Score animation */
@keyframes score-animation {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.8, 1.8); color: #f4ce42;}
    100% {transform: scale(1, 1);}
}
.score-animating {
  /* Animation */
  animation: score-animation 0.3s ease-in;
}

#play {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: black;
}

/* Game canvas */
#game-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  background-color: #1a2c44;
}

/* Screen */
.screen {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
}
.screen * {
  visibility: hidden;
}
.screen.active{
  opacity: 1;
}
.screen.active * {
  visibility: visible;
}

/* Game UI */
#game-ui .life {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  content: center;
}
#game-ui .life div {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #999;
  border-radius: 50%;
}
#game-ui .life div.point {
  background-color: #57d646;
}

#game-ui .score {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  content: center;
  color: white;
  font-size: 26px;
}

/* Loader styling */
#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#loader h2 {
  text-align: center;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

#loader img {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 150px;

  /* Animation */
  animation-name: rocket-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Game Over */
#game-over {
  background-color: #1a2c44;
  display: flex;
  flex-direction: center;
  align-items: center;
  content: center;
}
#game-over article {
  width: 100%;
}
#game-over h1 {
  margin: 5% 0;
  font-size: 4.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
#game-over table {
  display: block;
  width: 100%;
  padding: 0 20%;
  overflow: auto;
  color: #999;
  font-size: 2em;
}
#game-over table tbody {
  display: block;
}
#game-over table tr {
  display: block;
}
#game-over table tr td {
  display: block;
  width: 50%;
  padding: 1.5% 2.5%;
  float: left;
  text-align: right;
}
#game-over table tr td:last-child {
  text-align: left;
  color: white;
  font-weight: bold;
}

#game-over .button-row {
  margin-top: 2.5%;
}
#game-over .button-row .button {
  margin: 1.5% 0;
}

#game-over .credits {
  padding: 5px;
  color : white;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}
#game-over .credits a {
  color : white;
}
#game-over .credits a:hover {
  color : white;
}
